	<div class="container">

		<div class="row topspace">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">{{bar.name}}</h1>
				</header>

				<p><img src="/images/{{bar.id}}.jpg" alt=""></p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam beatae soluta accusantium iusto nihil nesciunt unde veniam magnam repudiandae sapiente.</p>
				
			</article>
			<!-- /Article -->

			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-left">

				<div class="widget">
					<h4>Horario</h4>
					<p>{{bar.schedule_days}}<br>
					{{bar.schedule_hours}}</p>
				</div>
				<div class="widget">
					<h4>Direccion</h4>
					<p>{{bar.direction}}<br>
					{{bar.phone}} </p>
				</div>
				
			</aside>			
			<!-- /Sidebar -->
			
		</div>
	</div>	<!-- /container -->